<div class="navbar-wagon">
  <!-- Logo -->
  <div class='left'>
  <%= image_tag 'logo.png', alt: 'Cocktail logo', height: 50 %>
  <h2>Cocktailmania</h2>
  </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Create a cocktail', new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
